* {
  font-family: Roboto Mono;
  color: white;
  font-size: 25px;
  text-align: center;
}

html{
  scrollbar-width: normal;
  scrollbar-color: gray rgb(59, 59, 59);
}

body{
  background-color: black;
  height: 95vh;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 150px;

}



.header-text{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  animation: slide-in-top 2s cubic-bezier(.28,.71,0,1);
  overflow: hidden;
}

.about-me-link{
  font-size: 35px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  animation: fade 2s cubic-bezier(.28,.71,0,1);
  animation-delay: 2s;
  animation-fill-mode: both;
  transition: font-size 0.5s;
  
}

.socials-link{
  text-decoration:none;
  font-size: 35px;
  text-align: center;
  justify-content: center;
  animation: fade 2s cubic-bezier(.28,.71,0,1);
  animation-delay: 3s;
  animation-fill-mode: both;
  transition: font-size 0.5s;
}


.link:hover{
  font-size:40px;
}



@keyframes slide-in-top{
  from{
    transform: translateY(-1000px);
  }

  to{
    transform: translateY(0)
  }

}


@keyframes fade {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fade-out {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}

@keyframes float{
  from{
    transform: translateY(-250)
  }

  to{
    transform: translateY(250)
  }
}
