/*this doesn't even work but im leaving it here because why not

HTML config*/
html{
  scroll-behavior:smooth;
  scroll-snap-type: mandatory;
  scrollbar-width: thin;
  scrollbar-color: gray rgb(59, 59, 59);
}

/*The body config duh*/
body{
  line-height: 1.5;
  font-family: Roboto Mono;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  background-color: black;
  height: 100vh;
}

/*All paragraph config*/
p{
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}



/*Down arrow icon config and animations*/
.down-arrow{
  display:flex;
  justify-content: center;
  align-items: center;
  animation: down-arrow 2s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction:alternate;
  
}


/*Makes the text blur in*/
.introduction{
  animation: blur-scroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 55%;
  margin-top: 300px;
  margin-bottom: 300px;
}

/*Config for all the sections*/
section{
  scroll-snap-align: start;
  height: 50vh;
  scroll-snap-stop: always;
}

/*The Header text*/
.header{
  animation: slide-in cubic-bezier(.28,.71,0,1) 4s;
}

/*In Rainbows config*/
.in-rainbows{
  background-image: url(https://media.pitchfork.com/photos/5929b2fe9d034d5c69bf4c59/1:1/w_450%2Cc_limit/7055fb4d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  transition: transform cubic-bezier(.26,.58,.3,.86) 1s;

}

/*Ok Computer config*/
.ok-computer{
  background-image: url(https://lastfm.freetls.fastly.net/i/u/ar0/62d26c6cb4ac4bdccb8f3a2a0fd55421.jpg://media.pitchfork.com/photos/5929b2fe9d034d5c69bf4c59/1:1/w_450%2Cc_limit/7055fb4d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform cubic-bezier(.26,.58,.3,.86) 1s;
  transition-delay: 1s;
  animation: glow-out cubic-bezier(.26,.58,.3,.86) 2s;
  animation-fill-mode: both;

}

/*The Bends config*/
.the-bends{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG11Gr_Qd0o39pDrVzCnxa-ZfPzE5nLr-uEg&s);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform cubic-bezier(.26,.58,.3,.86) 1s;
  transition-delay: .5s;

}

/*Mac Demarco 2 config*/
.mac-demarco-2{
  background-image: url(https://f4.bcbits.com/img/a3748808697_65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-delay: 1s;
  transition: transform cubic-bezier(.26,.58,.3,.86) 1s;

}

/*This is the album cards configuration*/

.album-cov{
  position: absolute;
  height: 310px;
  width: 250px;
  border-radius:25px;
}

/*This is the container for the album cards*/
.album-cov-container{
  animation: blur-scroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 10%;
  height: 315px;
  width: 420px;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -85%);
  animation-fill-mode: both;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform cubic-bezier(.26,.58,.3,.86) 1s  
}

.four{
  margin-bottom: 65vh;
}

/*This is the south africa image animations and size*/
.south-africa{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  animation: blur-scroll linear;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;
  animation-fill-mode: both;
  border-radius: 5px;
  width: 700px;
  height: 400px;
  transform:translate(-50%, -85%);
  background-image: url(https://cdn.britannica.com/42/126842-050-0803BC41/Sea-Point-Cape-Town-SAf.jpg);
  background-position: center;
  background-size: cover;
}

/*This is the cape town text animations*/
.cape-town{
  animation: slide-in-scroll cubic-bezier(.26,.58,.3,.86) 4s;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;
  animation-fill-mode: both;
  animation-direction: alternate;
}
  /*This handles the animation for when you hover over the album cards.*/
.album-cov-container:hover .album-cov:nth-child(4){
  transform:rotate(-3deg) translateX(-55%);
}
.album-cov-container:hover .album-cov:nth-child(3) {
  transform: translateX(55%);
}
.album-cov-container:hover .album-cov:nth-child(2) {
  transform:rotate(-3deg) translateY(-25%);
} 

.album-cov-container:hover .album-cov:nth-child(1){
  transform:rotate(3deg);
}
  .music{
    margin-top: 55vh;
  }

  /*"there's nothing here for now." text*/

  .nothing-text{
    font-size: 25px;
    text-shadow: 2px 2px 20px white;
    margin-bottom: 0px;
  }

  .cursor-icon{
    font-size: 25px;
    text-shadow: 2px 2px 20px white;
    animation: cursor-animation 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction:alternate;
  }

  .icon{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .home-icon{
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 20px white;
    color:white;
    text-align: center;
    cursor:pointer;
    transition: transform 0.5s linear;
    
  }

  .home-icon:hover{
    transform: scale(110%)
  }

  

/*This animation animates the blur when you scroll.*/


@keyframes blur-scroll{
  from{
    filter: blur(10px);
    transform: translateX(-1000)
  }

  to{
    filter: blur(0);
  }
}

/*This is the down arrow icon movement.*/
@keyframes down-arrow{
  from{
    transform: translateY(-30%);
  }
  to{
    transform: translateY (30%);
  }
}

/*This makes items glow in.*/
@keyframes glow-in{
  from{
    box-shadow: none;
    background-size:310px;

  }

  to{
    box-shadow: 0px 1px 25px 2px rgb(255, 255, 255);
    background-size:310px;
  }
}

/*This makes items glow out.*/
@keyframes glow-out{
  from{
    box-shadow: 0px 1px 25px 2px rgb(255, 255, 255);
    background-size:310px;
    

  }

  to{
    box-shadow: none;
    background-size:310px;
  }
}
/*This makes items slide in from the left.*/
@keyframes slide-in{
  from{
    transform: translateX(-100%)
  }

  to{
    transform: translateX(0)
  }
}

/*This makes items slide in and fade in when scrolling.*/
@keyframes slide-in-scroll{
  from{
    opacity: 0;
    transform: translateX(-355%)
  }

  to{
    opacity: 1;
    transform: translateX(0)
  }
}


@keyframes cursor-animation{
  from{
    transform: translateY(100%)
  }

  to{
    transform: translateX(0)
  }
}

